@page
@model SavedInSessionModel
@{
ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@foreach (var item in Model.People)
{
<p>
@Html.DisplayFor(modelItem => item.Id),
@Html.DisplayFor(modelItem => item.FirstName),
@Html.DisplayFor(modelItem => item.LastName),
@Html.DisplayFor(modelItem => item.Year),
@Html.DisplayFor(modelItem => item.Date),
@Html.DisplayFor(modelItem => item.Result)</p>
}

